:root{
    --snor-dark-blue: #29738e;
    --snor-blue:#5f96aa; 
    --snor-beige:#f1e5d7;
    --snor-brown:#cec1b8;
    --snor-dark-brown:#7f6f62;
}
body {
    padding: 0%;
    margin: 0%;
}
header{
    background-color: black;
    height: 3.2rem;
}
nav{
    height: 3.2rem;
    display: flex;
    justify-content: center;
}
nav button{
    width: 10rem;
    background: none;
    border-radius: 0%;
    border: none;
    color: white;
    font-size: 1.2rem;
}
nav button:hover{
    background-color: var(--snor-beige);
    color: black;
}
#content{
    background-color: var(--snor-dark-blue);
    min-height: 95vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 6rem;
    align-self: center;
    color: var(--snor-beige);
}
h2{
    font-size: 3rem;
}
#content h1{
    margin-top: 150px;
}
.hero {
    display: grid;
    place-items: center;
    height: 30rem;
    background-color: var(--snor-dark-blue);
    color: var(--snor-beige);
    font-size: 4rem;
}
.home-section-2{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 5rem auto;
    height: 25rem;
    padding: 50px;
    background-color: var(--snor-beige);
    color: var(--snor-dark-blue);
}

.home-section-2 p {
    font-size: 2rem;
}
.fake-pic{
    grid-area: 1 / 2 / span 2;
    width: 90%;
    height: 22rem;
    background-color: var(--snor-dark-blue);
}
.menu-div{
    background-color: var(--snor-beige);
    padding: 0px 7rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.menu-div h2 {
    align-self: center;
}
.menu-div div{
    border: 2px black solid;
    width: 100%;
    border-bottom: none;
    margin-top: -1rem;
}
.menu-item {
    display: flex;
    justify-content: space-between; 
}
.menu-item > p {
    margin-right: 2em;
    font-size: 2rem;
}
